.no-data-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 768px) {
  .no-data-container {
    height: 100vh;
  }
  .go-to-upload-btn {
    margin-bottom: 0px;
  }
}
.no-data-image {
  width: 40%;
  border-radius: 5px;
}

@media screen and (min-width: 768px) {
  .no-data-image {
    margin-top: 1.5rem;
  }
}
.no-data-description {
  font-size: 20px;
  font-weight: 800;
  color: dimgrey;
}
.go-to-upload-btn {
  height: 32px;
  font-weight: bold;
  border-radius: 5px;
  border: none;
  background-color: #000;
  color: #fff;
  margin-bottom: 2rem;
  cursor: pointer;
  opacity: 0.8;
}
.go-to-upload-btn:hover {
  opacity: 1;
}
